{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cover.css' %}">
</head>

<body>
    {% load crispy_forms_tags %}
    <main role="main" class="inner cover col-md-4">
        <form method="POST" enctype="multipart/form-data" class="signup_form mr-2 ml-2">
            {% csrf_token %}
            <fieldset>
              <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{ form.first_name | as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                  {{ form.last_name | as_crispy_field }}
                </div>
              </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                    {{ form.username | as_crispy_field }}
                  </div>
                </div>
              <div class="form-row">
              
                  <div class="form-group col-md-12 mb-0">
                    {{ form.email | as_crispy_field }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6 mb-0">
                    {{ form.password1 | as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6 mb-0">
                    {{ form.password2 | as_crispy_field }}
                  </div>
                </div>
                <div class="form-row">
                <button type="submit" class="main__button col-md-12 mb-0">Sign Up</button>
                  <div class="text-center">
                      <p>Already a Vendor? <a href="{% url 'login' %}">Login In</a></p>
                  </div>
                </div>
            </fieldset>
            
          </form> 
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>

</html>