{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<section class="banner mtop pb-5" id="banner">
    <div class="content">
        <h2>Always Choose Good</h2>
        <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dalore magna aliqua. Ut enim ad minim veniam,
        quis nostrud.</p>
        <a href="{% url 'booking' %}" class="btn btn-outline-primary btn-rounded bk_ap">Book Appointment</a>
    </div>
</section>


<section class="about" id="about">
    <div class="row">
    <div class="col50">
        <h2 class="titleText"><span>A</span>bout Us</h2>
        <p>

            It’s critical for the crocodile to understand its prey and to know where to look for it and remain calm and patient until it arrives. As traders, we have to know what our trading edge looks like and where to look for it and then control ourselves enough to not over-trade before it arrives.
            Nial Fuller
            
          </p>
          <p>

            It’s critical for the crocodile to understand its prey and to know where to look for it and remain calm and patient until it arrives. As traders, we have to know what our trading edge looks like and where to look for it and then control ourselves enough to not over-trade before it arrives.
            Nial Fuller
            
          </p>
          <p>

            It’s critical for the crocodile to understand its prey and to know where to look for it and remain calm and patient until it arrives. As traders, we have to know what our trading edge looks like and where to look for it and then control ourselves enough to not over-trade before it arrives.
            Nial Fuller
            
          </p>
          <p>

            It’s critical for the crocodile to understand its prey and to know where to look for it and remain calm and patient until it arrives. As traders, we have to know what our trading edge looks like and where to look for it and then control ourselves enough to not over-trade before it arrives.
            Nial Fuller
            
          </p>
          <p>

            It’s critical for the crocodile to understand its prey and to know where to look for it and remain calm and patient until it arrives. As traders, we have to know what our trading edge looks like and where to look for it and then control ourselves enough to not over-trade before it arrives.
            Nial Fuller
            
          </p>
          <p>

            It’s critical for the crocodile to understand its prey and to know where to look for it and remain calm and patient until it arrives. As traders, we have to know what our trading edge looks like and where to look for it and then control ourselves enough to not over-trade before it arrives.
            Nial Fuller
            
          </p>
          <p>

            It’s critical for the crocodile to understand its prey and to know where to look for it and remain calm and patient until it arrives. As traders, we have to know what our trading edge looks like and where to look for it and then control ourselves enough to not over-trade before it arrives.
            Nial Fuller
            
          </p>
          <p>

            It’s critical for the crocodile to understand its prey and to know where to look for it and remain calm and patient until it arrives. As traders, we have to know what our trading edge looks like and where to look for it and then control ourselves enough to not over-trade before it arrives.
            Nial Fuller
            
          </p>
          <p>

            It’s critical for the crocodile to understand its prey and to know where to look for it and remain calm and patient until it arrives. As traders, we have to know what our trading edge looks like and where to look for it and then control ourselves enough to not over-trade before it arrives.
            Nial Fuller
            
          </p>
        </div>
    

        <div class="col50">
            <div class="imgBx">
                <img src="{% static './images/laura.webp' %}" alt="">
            </div>
        </div>
    
    </section>
{% endblock content %}

<script>

// When the user scrolls down 50px from the top of the document, resize the header's font size
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
    document.getElementById("banner").style.height = "50%";
  } else {
    document.getElementById("banner").style.width = "50%";
  }
}


</script>