{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

<div class="map_canvas">
     
       <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3300.9751981817067!2d-6.364627447780137!3d53.29018497455357!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6cf7501e0d9522a!2sTU%20Dublin%2C%20Tallaght!5e1!3m2!1sen!2sie!4v1636661230084!5m2!1sen!2sie"
      width="2000" height="600" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>
 
</div>

<main role="main" class="container-fluid m-5">

  <div class="row">
    <div class="col-md-7 blog-main m-5 mtop">
      <h1 class=" mb-5">Contact Us</h1>
      <hr>
      <br>
      <br>
      <br>

      <form method="POST" enctype="multipart/form-data" class="mr-2 ml-2">
        {% csrf_token %}

        <fieldset>
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                {{ form.first_name | as_crispy_field }}
              </div>
              <div class="form-group col-md-6 mb-0">
                {{ form.last_name | as_crispy_field }}
              </div>
            </div>
            
            <div class="form-row">
              <div class="form-group col-md-12 mb-0">
                {{ form.address | as_crispy_field }}
              </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{ form.email_address| as_crispy_field }}
                </div>
              
                <div class="form-group col-md-6 mb-0">
                  {{ form.phone| as_crispy_field }}
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12 mb-0">
                  {{ form.subject | as_crispy_field }}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12 mb-0">
                  {{ form.message | as_crispy_field }}
                </div>
              </div>
              <div class="form-row">
                <button class="btn btn-outline-secondary btn-rounded nav_button" type="submit">Submit</button>
            </div>

        </fieldset>
      </form>

    </div><!-- /.blog-main -->

    <aside class="col-md-3 blog-sidebar border-left mx-5">

      <div class="p-4 mb-3 bg-light rounded">

        <p class="card-text py-4">
          People all over Ireland say we are the best Photographers around since in inception, form 1830 till date.
          what do you have to say about that?
        </p>
      </div>

     
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->



{% endblock content %}